* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 400px;
  margin: 0 auto;
  background-color: #eee;
}
p {
  color: white;
  background-color: rgb(124, 32, 124);
  text-align: center;
}
table {
  width: 100%;
}
.inputdis {
  pointer-events: none;
  background-color: lightsalmon;
}
